/* common style */
ul li {
    /* float: left; */
    list-style: none;
}

/* p,
div,
span,
li,
button {
    color: #668b66
} */
.aa {
    height: 100px;
    background-color: #e3e9e3fd;
    padding: 14px 10px;
}

.font {
    font-family: 'Courier New', Courier, monospace;
}

.minifont {
    font-size: 14px;
}

.span {
    width: 100px;
    background-color: #cbdbcbfd;
    display: inline-block;
    text-align: center;
}

.selectToken {
    width: 100px;
}

/* connect wallet template */
.refresh {
    position: absolute;
    top: -70px;
    right: 0px;
    z-index: 1;
}

.user {
    min-height: 200px;
    border: 1px solid #abcdef;
    position: relative;
}

.user>.el-button {
    margin-top: 70px;
}

.nftlist {
    height: 480px;
    padding: 0px 100px;
    margin-top: 15px;
    background-color: #d1fcd1;
}

.nftli {
    margin-bottom: 40px;
}

.nftli .el-button {
    height: 108px;
    width: 136px;
    box-sizing: border-box;
}

.nftli img {
    width: 80px;
    margin: 0;
}

.marketlist {
    margin: 10px;
    float: left;
    position: relative;
}

.marketlist .el-button {
    height: 108px;
    width: 136px;
    box-sizing: border-box;
}

.marketlist img {
    width: 80px;
    margin: 0;
}

/* badge simbol */
.simbol {
    position: absolute;
    top: 5px;
    left: 5px;
}

.labels {
    font-size: 20px;
    line-height: 60px;
}

.el-select-dropdown__item.selected {
    color: #668b66;
}

.el-select .el-input__inner {
    border: #668b66 1px solid;
}

.el-select:hover .el-input__inner {
    border: #d1fcd1 1px solid;
}

.closeInfo {
    float: right;
    position: relative;
    right: -20px;
    top: -20px;
    border: none;
}

/* market */
.btn {
    position: relative;
    top: -5px;
}

.cointy {
    min-height: 200px;
    border: #abcdef 1px solid;
    position: relative;
}




/* 输入数字*/
.amount-input {
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
}

.el-input__inner {
    font-family: 'Courier New', Courier, monospace;

}

/* /* tab 标签页面 */
.el-tabs {
    width: 830px;
    height: 500px;
    background-color: #F5F7FA;
    position: relative;
}

/* .el-tabs {
    border: none;
} */

.el-tabs__nav-scroll {
    text-align: center;
}

.el-tabs__nav {
    width: 100%;
    height: 70px;
    padding-top: 15px;
}

.el-tabs__item {
    height: 70px;
    width: 120px;
    font-size: 24px;
    font-weight: 700;
    padding: 0px;
    text-align: center;
}

.el-tabs__active-bar {
    background-color: #668b66;
    width: 120px;
}

.el-tabs__nav-scroll {
    padding: 0px 30%;
}

.el-tab-pane {
    padding: 30px 30px;
}



.el-tabs>.el-tabs__header .el-tabs__item.is-active {
    color: #668b66;
    border: none;
}

.el-tabs>.el-tabs__header .el-tabs__item {
    padding-left: -1px;
}

.el-tabs--top.el-tabs>.el-tabs__header .el-tabs__item:nth-child(2),
.el-tabs--top.el-tabs>.el-tabs__header .el-tabs__item:last-child {
    padding: 0;
}


/* getfee btnstyle */

.fees {
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

.mainpanel {
    position: relative;
    width: 760px;
    height: 500px;
    box-sizing: border-box;
}

.btn-fee {
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 30px;
}

#balance {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 180px;
    height: 50px;
    background-color: rgb(226, 238, 224);
    z-index: 5;
    padding: 10px 0px;
    border-radius: 20px;
}

.el-tabs>.el-tabs__header .el-tabs__item:not(.is-active):hover {
    color: #668b66;
}


.el-tabs>.el-tabs__header .el-tabs__item[class~=is-active]:hover {
    color: #051105;
}

/* get info button */
.el-icon-info:before {
    font-size: xx-large;
}

.el-button.is-circle {
    padding: 0px;
}

/* //mynft 页面 */
#mynft {
    background-color: #d1fcd1;
    min-height: 650px;
    height: calc(100vh - 140px);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 350px;
}

.nftarea {
    margin-top: 20px;
    min-height: 600px;
}